stages:
    #- Tests
    - Quality
    # - Package
    # - Deploy_test
    #- Deploy_preprod
    # - Deploy_prod
    
# Dernière version de la pipeline à adapter pour chaque projet ; 
variables:
    PROJECT_NAME: "cei_project"
    VERSION: 1.0.0

sonarqube-check:
    stage: Quality
    tags:  
        - sonarqube_newanalyse
    image: 
        name: sonarsource/sonar-scanner-cli:latest
        entrypoint: [""]
    variables:
        SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
        GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
    cache:
        key: "${CI_JOB_NAME}"
        paths:
          - .sonar/cache
    script: 
        - sonar-scanner
    allow_failure: true
    # rules:
    #     - if: $CI_COMMIT_BRANCH == 'main'

# sonarqube-check:
#   image: 
#     name: sonarsource/sonar-scanner-cli:latest
#     entrypoint: [""]
#   variables:
#     SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
#     GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
#   cache:
#     key: "${CI_JOB_NAME}"
#     paths:
#       - .sonar/cache
#   script: 
#     - sonar-scanner
#   allow_failure: true
#   rules:
#     - if: $CI_COMMIT_BRANCH == 'main' # new configuration
