ion-list {
    background: none;
}

ion-item {
    --background: none; 
    margin-bottom: 20px; 
}

ion-item.redBottom {
    border: 2px solid #DB812E;
    border-radius: 5px;
}

ion-item ion-label,
ion-item ion-input {
    color: #000;
}

.loginBtn {
    --background: #DB812E;
    margin-top:12%; 
    color:#FFF; 
    text-align:center; 
    font-size: 16px;
}

ion-toolbar {
    display: none;
}

.passwordIcon{
    font-size: 1.3em;
    position: absolute;
    right: .1em;
    top: .5em;
    z-index: 2;
    color: #000;
 }