<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon style="color:#FFF;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Modifier le mot de passe</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="password_block" (click)="saveNewPasseword()">
        <ion-icon style="color:#FFF;" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div style="width: 60%; margin:0 auto 30px auto;">
    <img src="../assets/Logo-CEI.png">
  </div>

  <h3 style="text-align: center;">Résultats 2025</h3>
  
  <ion-list style="padding: 20px;" *ngIf="username_block">
    <ion-item class="redBottom">
      <ion-input type="text" label="Entrez votre nom d'utilisateur" labelPlacement="stacked" [(ngModel)]="username" name="username" aria-required="username"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="checkUsername()" class="loginBtn"><ion-icon style="color:#FFF; margin-right: 7px;" name="checkmark-circle-outline"></ion-icon> Vérifier</ion-button>
  </ion-list>


  <ion-list style="padding: 20px;" *ngIf="password_block">
    <ion-item class="redBottom">
      <ion-input type="password" label="Nouveau mot de passe" labelPlacement="stacked" [(ngModel)]="new_password" name="new_password" aria-required="new_password"></ion-input>
    </ion-item>

    <ion-item class="redBottom">
      <ion-input type="password" label="Vérification nouveau mot de passe" labelPlacement="stacked" [(ngModel)]="new_password_verification" name="new_password_verification" aria-required="new_password_verification"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="saveNewPasseword()" class="loginBtn"><ion-icon style="color:#FFF; margin-right: 7px;" name="save-outline"></ion-icon> Enregister</ion-button>
  </ion-list>

</ion-content>
