.loginBtn {
    --background: #DB812E;
    margin-top:12%; 
    color:#FFF; 
    text-align:center; 
    font-size: 16px;
}

ion-item.redBottom {
    border: 2px solid #DB812E;
    border-radius: 5px;
    margin-bottom: 20px;
}

ion-item.greenBottom {
    border: 2px solid #61A061;
    border-radius: 5px;
    margin-bottom: 20px;
}

ion-card-content {
    background: #fedec230;
    border: 1px solid #DB812E;
}