<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label> Tableau de bord </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="participation">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label> Votants </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="observation-centre">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label> Observations </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resultats">
      <ion-icon name="podium"></ion-icon>
      <ion-label> Résultats </ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
